<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<input type="checkbox" id="check">
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <div class="left_area">
        <h3>Online <span>Planner</span></h3>
      </div>
      <div class="right_area">
        <a href="#" class="logout_btn">Logout</a>
      </div>
    </header>
    <div class="sidebar">
      <center>
        <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" class="profile_image" alt="">
        <h1>Welcome User</h1>
      </center>
      <a href="/account"><i class="fas fa-desktop"></i><span>Account</span></a>
      <a href="/dashboard"><i class="fas fa-columns"></i><span>Dashboard</span></a>
      <a href="/task"><i class="fas fa-tasks"></i><span>Task</span></a>
      <a href="/calendar"><i class="fas fa-calendar-alt"></i><span>Calendar</span></a>
    </div>