<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Planner</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <nav>
            <ul>
                <a href="login"><button type="submit" class="btn1">Log in</button></a>
                <a href="register"><button type="submit" class="btn1">Register</button></a>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="about">
            Online Planner
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <h3>Schedule</h3>
                <p>
                    Online Planner supports an overview of your current tasks and unfinished tasks.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <h3>Notification</h3>
                <p>
                    To ensure you don't miss upcoming deadlines, you will get notified about when a task is almost at
                    its expected due date.
                </p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fa fa-search"></i>
                </div>
                <h3>Search Tasks</h3>
                <p>
                    You don't need to scramble finding your tasks. This application is designed to organize and provide
                    you an overview of your schedule. You can search for a specific date to list all the task for that
                    day.
                </p>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>